[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
fastapi-users = {extras = ["beanie"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
